@font-face {
	font-family: 'roboto';
	font-weight: normal;
	src: url('../fonts/roboto.woff') format('woff'),
	     url('../fonts/roboto.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto';
	font-weight: lighter;
	src: url('../fonts/robotomedium.woff') format('woff'),
	     url('../fonts/robotomedium.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto';
	font-weight: bold;
	src: url('../fonts/robotobold.woff') format('woff'),
	     url('../fonts/robotobold.woff2') format('woff2');
}

body, html {
	font-family: roboto, sans-serif;
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}

body {
	background-color: #849d8f;
	min-width: 900px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.visually-hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.theme-radio {
	display: none;
}

.max-width-wrapper {
	position: relative;
	max-width: 1200px;
	min-width: 900px;
	margin: 0 auto;
}

.theme-field {
	transition: background .5s;
}

#first-background:checked ~ .theme-field {
	background: #849d8f;
	background: url(../img/banner1.png) no-repeat center 0,
	#849d8f;
}

#second-background:checked ~ .theme-field {
	background: #8996a6;
	background: url(../img/banner2.png) no-repeat center 0,
	#8996a6;
}

#third-background:checked ~ .theme-field {
	background: #9d8b84;
	background: url(../img/banner3.png) no-repeat center 0,
	#9d8b84;
}