.map-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 430px;
	overflow: hidden;
	margin-top: 38px;
}

.map-section__interactive-map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map-section__info {
	position: absolute;
	top: 63px;
	right: 27px;
}