.product {
	position: relative;
	text-align: center;
	padding: 1%;
	border-radius: 6px 6px 0 0;
}

.product__img-and-price_hit::before {
	content: url(img/hit.svg);
	position: absolute;
}

.product:hover {
	background-color: rgba(255, 255, 255, .2);
}

.product__img-and-price {
	position: relative;
}

.product__image {
	max-width: 267px;
	width: 100%;
	height: auto;
}

.product__price {
	position: absolute;
	color: white;
	margin: 0;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	top: 77%;
}

.product__measurement {
	font-size: 30px;
}

.product__title {
	margin: 0;
	color: white;
	font-size: 16px;
	line-height: 22px;
	margin-top: 11px;
}

.product__title span {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.product__button-contaiter {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	visibility: hidden;
	opacity: 0;
	border-radius: 0 0 6px 6px;
	padding: 5px 0 10px;
}

.product:hover .product__button-contaiter {
	background-color: rgba(255, 255, 255, .2);
	visibility: visible;
  opacity: 1;
}

.product__button {
	visibility: hidden;
	opacity: 0;
}

.product:hover .product__button {
	visibility: visible;
  opacity: 1;
}