.entrance-form__input {
	margin-bottom: 20px;
	padding-left: 14px;
}

.entrance-form__button {
	width: 100px;
	height: 44px;
	font-size: 18px;
}

.entrance-form__links-list {
	flex-grow: 1;
	width: 119px;
	font-size: 13px;
	line-height: 21px;
	color: #000;
	margin-left: 20px;
}

.entrance-form__links-item {
	color: inherit;
}