.products-list {
	margin: 0;
	margin-bottom: 28px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 2.3%;
}

.products-list__item {
	flex-basis: 25%;
	flex-grow: 1;
	flex-shrink: 1;
}