.contact-information__text {
	margin: 0;
	margin-right: -3px;
	margin-top: -3px;
	letter-spacing: .2px;
	font-size: 14px;
}

.contact-information__phone-number {
	font-weight: bold;
	display: inline-block;
	/*margin-top: 3px;*/
	margin-right: -2px;
	letter-spacing: .5px;
	font-size: 21px;
	color: inherit;
	text-decoration: none;
}